<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 main-container">
      <form [formGroup]="personForm" (submit)="savePerson()">
        <div class="form-group add-person row">
          <div class="add-name col-xs-5">
            <label for="addPerson">Add a new persone</label>
            <input type="text" class="form-control" name="addPerson" formControlName="addPerson" />
          </div>
          <div class="add-traits col-xs-7">
            <label class="form-check-label">
              <input type="checkbox" formControlName="superPower" class="form-check-input">
                Super Power
            </label>
            <label class="form-check-label">
              <input type="checkbox" formControlName="rich" class="form-check-input">
                Rich
            </label>
            <label class="form-check-label">
              <input type="checkbox" formControlName="genius" class="form-check-input">
                Genius
            </label>
            <button type="submit" class="btn btn-primary" [disabled]="!personForm.valid">Submit</button>
          </div>
        </div>
      </form>
      <div class="persons-container">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Super Power</th>
              <th>Rich</th>
              <th>Genius</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of people">
              <td>{{person.name}}</td>
              <td><input type="checkbox" (change)="onChange($event,person,'superPower')" [checked]="person.superPower" /></td>
              <td><input type="checkbox" (change)="onChange($event,person,'rich')" [checked]="person.rich" /></td>
              <td><input type="checkbox" (change)="onChange($event,person,'genius')" [checked]="person.genius" /></td>
              <td><input type="button" (click)="removePerson(person)" class="btn btn-secondary" value="x" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-4 side-container">
      <h4>Sidebar</h4>
    </div>
  </div>
</div>