@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.container-fluid .row {
    display: flex;
    align-items:stretch;
}

.main-container .add-person {
    display: flex;
    align-items:stretch;

}

.main-container .add-traits {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 25px;
}

.main-container .filters {
    display: inherit;
}

.main-container .filters > span > span {
    margin:0 5px;
}

table {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    padding:5px;
    width: 100%;
  }
   
  th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  th:first-child {
    border-top-left-radius:3px;
  }
   
  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr:hover {
    box-shadow: 2px black;
  }
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    /* background:#4E5066; */
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }
  
  td:last-child {
    border-right: 0px;
  }
  


.main-container table * {
    text-align: center;
}

.main-container table tr th:not(.delete){
    cursor:pointer;
}
/* 
.main-container table tr th, .main-container table tr td{
    max-width:190px;
    vertical-align: middle;
}
 */
.main-container table tr th .arrow {
    font-size: 10px;
    transform: translate3d(-2px, -2px, 0px);
}

.main-container table tr td label {
    margin:0;
}

.main-container table tfoot * {
    background:transparent;
}

.main-container .filters a.active {
    pointer-events: none;
    text-decoration: none;
    font-weight: bold;
}

.main-container .filters a.disabled {
    pointer-events: none;
    color:gray;
    text-decoration: none;
}

.side-container {
    position: fixed;
}

.side-container .list-group {
  font-size:16px;
}

.side-container .list-group .list-group-item .badge.active {
  background-color:#2e6da4;
}