
<app-alert [filter]="filter" [alert]="alert"></app-alert>
<div class="container">
  <div class="row">
    <div class="col-xs-9 main-container" style="position:relative; z-index:20">

      <form [formGroup]="personForm" (submit)="savePerson()">
        <div class="form-group add-person row">
          <div class="add-name col-xs-5">
            <input 
              style="margin-top:25px" 
              type="text" 
              class="form-control" 
              placeholder="Add a person" 
              name="name" 
              formControlName="name" />
          </div>
          <div class="add-traits col-xs-7">

            <label class="form-check-label" *ngFor="let trait of traits.list">
              <input 
                type="checkbox" 
                formControlName="{{trait.id}}" 
                class="form-check-input">
                {{trait.value}}
            </label>

            <button 
              type="submit" 
              class="btn btn-primary" 
              [disabled]="!personForm.valid">Submit</button>
          </div>
        </div>
      </form>

      <div class="persons-container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th (click)="arrange('name_upper')">
                <span 
                  class="glyphicon arrow"
                  [ngClass]="{
                    'glyphicon-triangle-right':arrangeValues.name_upper === null,
                    'glyphicon-triangle-bottom': arrangeValues.name_upper === true,
                    'glyphicon-triangle-top': arrangeValues.name_upper === false
                  }"
                  ></span>Name
              </th>
              <th 
                *ngFor="let trait of traits.list" 
                (click)="arrange(trait.id)">
                  <span 
                    class="glyphicon arrow"
                    [ngClass]="{
                      'glyphicon-triangle-right':arrangeValues[trait.id] === null,
                      'glyphicon-triangle-bottom': arrangeValues[trait.id] === true,
                      'glyphicon-triangle-top': arrangeValues[trait.id] === false
                    }"></span>
                  {{trait.value}}
              </th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of filter.people;">
              <td>{{person.name}}</td>

              <td *ngFor="let trait of traits.list">
                <label>
                  <input 
                    type="checkbox" 
                    (change)="onChange($event,person,trait.id)" 
                    [checked]="person[trait.id]" />
                </label>
                </td>

              <td class="delete">
                <button 
                  type="button" 
                  (click)="person.delete = true" 
                  class="btn btn-secondary btn-sm btn-danger" 
                  value="x"
                  [class.hidden]="person.delete">
                <span class="glyphicon glyphicon-trash"></span>
                </button>
                <div [class.hidden]="!person.delete">
                  Are you sure? 
                  <input 
                    type="button" 
                    value="Yes" 
                    (click)="removePerson(person)"
                    class="btn btn-secondary btn-sm btn-danger" />
                  <input 
                    type="button" 
                    value="no" 
                    (click)="person.delete = false"
                    class="btn btn-secondary btn-sm btn-danger" />
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <div class="filters">
                  <span *ngFor="let trait of traits.list">
                    <a 
                      href="#{{trait.id}}" 
                      [class.active]="filter.value == trait.id"
                      [class.disabled]="trait.count <= 0" 
                      (click)="filter.apply(trait.id)">{{trait.value}}</a><span>|</span>
                  </span>
                  <a 
                    href="#" 
                    (click)="filter.apply()" 
                    [class.active]="!filter.value">All</a>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <app-sidebar 
      [traits]="traits"
      [people]="people"
      [filter]="filter">
    </app-sidebar>

  </div>
</div>