.container-fluid .row {
    display: flex;
    align-items:stretch;
}

.main-container .add-person {
    display: flex;
    align-items:stretch;

}

.main-container .add-traits {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 25px;
}

.main-container .filters {
    display: inherit;
}

.main-container .filters > span > span {
    margin:0 5px;
}

.main-container table * {
    text-align: center;
}

.main-container table tr th:first-child, .main-container table tr td:first-child {
    /* min-width:180px; */
}

.main-container table tr th:last-child, .main-container table tr td:last-child {
  /*   min-width:230px; */
}

.main-container table tr th, .main-container table tr td{
    max-width:190px;
    vertical-align: middle;
}

.main-container table tr th .arrow {
    font-size: 10px;
    transform: translate3d(-2px, -2px, 0px);
}

.main-container table tr td label {
    margin:0;
}

.main-container .filters a.active {
    pointer-events: none;
    text-decoration: none;
    font-weight: bold;
}

.main-container .filters a.disabled {
    pointer-events: none;
    color:gray;
    text-decoration: none;
}

.side-container {
    position: fixed;
    right:0;
    top:0;
}