.container-fluid .row {
    display: flex;
    align-items:stretch;
}

.main-container .add-person {
    display: flex;
    align-items:stretch;

}

.main-container .add-traits {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 25px;
}

.main-container .filters > span > span {
    margin:0 5px;
}

.main-container table * {
    text-align: center;
}

.main-container table tr th:first-child, .main-container tabel tr td:first-child {
    width:180px;
}